<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
  <title>Digi Traffic Inspector</title>
  <link rel="icon" href="img/logo.png">
</head>

<body>
  <div class="ui grid inverted segment">
    <div class="computer only row">
      <div class="column">
        <div class="ui pointing secondary inverted menu">
          <a class="item" style="font-size: 1.1vw;" href="/home">Home</a>
          <a class="active item" style="font-size: 1.1vw;" href="/pendingPublicCase">Pending Cases(By Public)</a>
          <a class="item" style="font-size: 1.1vw;" href="/pendingPoliceCase">Pending Cases(By Police)</a>
          <a class="item" style="font-size: 1.1vw;" href="/history">History</a>
          <a class="item" style="font-size: 1.1vw;" href="/locateCase">Locate Recent Cases</a>
          <a class="item" style="font-size: 1.1vw;" href="/createInspector">Create Traffic Inspector Account</a>
          <a class="item" style="font-size: 1.1vw;" href="/misc">Miscellaneous</a>
          <div class="right menu">
            <a class="item" style="font-size: 1.1vw;" href="/logout">Logout</a>
          </div>
        </div>
        <!-- blue menu-->
      </div>
      <!--column-->
    </div>
    <!--computer only row-->
    <div class="tablet mobile only row">
      <div class="column">
        <div class="ui inverted menu">
          <a id="hamburger-link" class="item"><i class="bars icon"></i></a>
        </div>
      </div>
      <!--column-->
    </div>
    <!--computer only row-->
  </div>
  <!-- grid-->
  <div class="ui pushable segment">
    <div class="ui sidebar inverted vertical menu">
      <a class="item" href="/home">Home</a>
      <a class="active item" href="/pendingPublicCase">Pending Cases(By Public)</a>
      <a class="item" href="/pendingPoliceCase">Pending Cases(By Police)</a>
      <a class="item" href="/history">History</a>
      <a class="item" href="/locateCase">Locate Recent Cases</a>
      <a class="item" href="/createInspector">Create Traffic Inspector Account</a>
      <a class="item" href="/misc">Miscellaneous</a>
      <a class="item" href="/logout">Logout</a>
    </div>
    <!-- blue menu-->
    <div class="my-content pusher">
      <div class="ui segment">
        <!--              
  <div class="ui raised padded segment">
    <div class="three column stackable ui grid">
      <div class="column">
        <div class="ui segment" style ="height: 10px;">
          <p> Location : <%= caseData.LOCATION %></p>
        </div>
        <div class="ui segment" >
          <p>   DL : <%= caseData.DL %></p>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <p>RC : <%= caseData.RC %></p>
        </div>
        <div class="ui segment">
          <p>  IP : <%= caseData.IP %></p>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <p> UID : <%= caseData.UID %></p>
        </div>
        <div class="ui segment">
          <p>   Vehicle Number : <%= caseData.VEHICLE_NUMBER %></p>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <p> Case Solved : <%= caseData.SOLVED %></p>
        </div>
        <div class="ui segment">
          <a class='ui button' href=<%= link %>> Solve Case</a></div>
        </div>
      </div> -->


        <div class="ui stackable grid">
          <div class="four wide column">
            <div class="ui card">
              <div class="content">
                <div class="header">Case ID</div>
                <div class="meta">A Unique ID for each complaint</div>
                <div class="description">
                  <p><%= caseid %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui card">
              <div class="content">
                <div class="header">Date Time Stamp</div>
                <div class="meta">A meta data regarding date and time of case (Format : YYYYMMDD_HHMMSS)</div>
                <div class="description">
                  <p><%=caseData.DATE_TIME_STAMP%></p>
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui card">
              <div class="content">
                <div class="header">Location</div>
                <div class="meta">Place where the violation was capturede</div>
                <div class="description">
                  <p><%= caseData.LOCATION %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui card">
              <div class="content">
                <div class="header">Captured By</div>
                <div class="meta">User ID of the person who captured the incident</div>
                <div class="description">
                  <p><%= caseData.UID %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui card">
              <div class="content">
                <div class="header">Vehicle Number</div>
                <div class="meta">Vehicle Number of the convict's vehicle</div>
                <div class="description">
                  <p><%= caseData.VEHICLE_NUMBER %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui card">
              <div class="content">
                <div class="header">Allegations Claimed</div>
                <div class="meta">Allegations shown in the complaint</div>
                <div class="description">
                  <ul>
                    <li>Violation 1 : <%= allegationArray[0] %></li><br>
                    <li>Violation 2 : <%= allegationArray[1] %></li><br>
                    <li>Violation 3 : <%= allegationArray[2] %></li><br>
                    <li>Violation 4 : <%= allegationArray[3] %></li><br>
                    <li>Violation 5 : <%= allegationArray[4] %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui card">
              <div class="content">
                <div class="header">Any Other Details</div>
                <div class="meta">Any other details mentioned by the user</div>
                <div class="description">
                  <p><%= caseData.MORE_DETAILS %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui card">
              <div class="content">
                <div class="header">Allegations Verified</div>
                <div class="meta">Allegations shown in the complaint that are verified through the image evidence</div>
                <div class="description">

                  <form class="ui large form" method="POST" action=<%=link%>>

                    <div class="ui test toggle checkbox">
                      <label>Violation 1</label>
                      <input type="checkbox" name="v1">
                    </div>

                    <br><br>

                    <div class="ui test toggle checkbox">
                      <label>Violation 2</label>
                      <input type="checkbox" name="v2">
                    </div>

                    <br><br>

                    <div class="ui test toggle checkbox">
                      <label>Violation 3</label>
                      <input type="checkbox" name="v3">
                    </div>

                    <br><br>

                    <div class="ui test toggle checkbox">
                      <label>Violation 4</label>
                      <input type="checkbox" name="v4">
                    </div>

                    <br><br>

                    <div class="ui test toggle checkbox">
                      <label>Violation 5</label>
                      <input type="checkbox" name="v5">
                    </div>
                    <br><br>
                    <input class="ui teal submit button" type="submit"></input>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="three column stackable ui grid">
          <div class="column">
            <div class="ui segment" style="width: fit-content; ">
              <img alt="Picture 1" src=<%= picture1 %> style=" max-width: 250px; max-height: 400px;">
              <div class="ui bottom attached pointing grey large label">Picture 1</div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment" style="width: fit-content;">
              <img alt="Picture 1" src=<%= picture2 %> style="  max-width: 250px; max-height: 400px;">
              <div class="ui bottom attached pointing grey large label">Picture 2</div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment" style="width: fit-content; ">
              <img alt="Picture 1" src=<%= picture3 %> style="  max-width: 250px;max-height: 400px;">
              <div class="ui bottom attached pointing grey large label">Picture 3</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</body>
<script>$('.ui.sidebar').sidebar({
    context: $('.pushable.segment'),
    transition: 'overlay'
  }).sidebar('attach events', 'a#hamburger-link');

  $('.test.checkbox').checkbox('attach events');</script>

<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-storage.js"></script>


</html>